.form-body{
  border-style: solid;
  border-width: 3PX;
  border-color: lightgrey;
  background-color: rgb(244, 243, 243);
  height: 200px;
  width: 300px;
  padding: 10px 10px;
  margin: 100px 100px;
  width: 100;
  padding-top: 50px;
  display: inline-block;

  }
 .name-1{
  border-radius: 5px;
  float: right;
  display: inline-block;
  height: 20px;
}
.label{
  padding-top: -10px;
  font-style: bold;
  font-family: vendara;
  font-size: 18px;
  display: inline-block;
  text-align-last: left;
  line-height: 2;
}
.btn{
  color: white;
  background-color: rgb(88, 174, 202);
  padding: 5px 20px;
  border-radius: 10px;
  margin-left: 80px;
  margin-top:0px;
  margin-bottom: -25px;
}

